html{
    background-color: #FDFFFC;
}

.header{
    width:95%;
    background-color:#F93943;
    padding: 5px;
    margin:auto;
    margin-bottom:5px;
}

.header span a {
    color: #011627;
}

.header span a:hover {
    color: #41EAD4;
}

h2{
    margin:0px;
    color: #011627;
    font-family: 'Fjalla One', sans-serif;
}

.main{
    width:95%;
    margin:auto;
}

section {
    margin:8px 0px;
    border:1px solid orange;
}

section h3{
    text-align:center;
    font-family: 'Fjalla One', sans-serif;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

a:hover {
    color: gray;
}