html{
    background-color: lightgrey;
}

.header{
    width:95%;
    background-color:grey;
    padding: 5px;
    margin:auto;
    margin-bottom:5px;
}

h2{
    margin:0px;
}

.main{
    width:95%;
    margin:auto;
}

section {
    margin:8px 0px;
    border:1px solid orange;
}

section h4{
    text-align:center;
}