html {
    background-color: lightgrey;
}

.banner {
    padding: 3px;
    background-color: grey;
}

h2 {
    margin:3px;
}

.input {
    border:0px;
    padding:0px;
    height:0px;
    width:0px;
    visibility: hidden;
}

.language_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.language_list span {
    height: 300px;
    width: 24%;
    margin: 25px 5px;
    align-content: center;
}