
.banner {
    background-color: grey;
}

.language_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.language_list span {
    height: 300px;
    width: 24%;
    margin: 25px 5px;
    text-align: center;
}